@import "reset";
@import "mixin" ;

$body-bg: #111;
$wrap-border : #ddd;
$wrap__item-bg: #222;
$wrap__item_h2: #333;
$wrap__item_p: #777;
$btn-bg: orange;
$btn-font: white;
$wrap__item-shadow: 5px 5px 20px rgba(0,0,0,0.1);

body{
  background-color: #eee;
}

.wrap{

  &:hover{
    .item{
      transform: translateY(0px) rotateY(0deg);
      opacity: 1;
    }
  }

  .item{
    width: 300px;
    padding: 30px;
    background-color: $wrap__item-bg;
    margin: 50px;
    border-radius: 10px;
    box-shadow: $wrap__item-shadow;
    transform: translateY(100px) rotateY(180deg);
    transition: 0.6s;
    opacity: 0;

    $interval : 0.2;
    @for $i from 1 to 5 {
      &:nth-child(#{$i}) {
        transition-delay: $interval * $i;
    }
    
    &:hover{
      background-color: orange;
    }

    h2 {
      font: bold 3px/1 "arial";
      margin-block-start: 20px;
      @if $wrap__item-bg == #fff {
        color: $wrap__item_h2;
      } @else {
        color: white;
      }
      // color : #333;
    }

    p {
      font: normal 16px/1.5 "arial";
      color: $wrap__item_p;

      @if $wrap__item-bg == #fff {
        color: $wrap__item_h2;
      } @else {
        color: white;
      }
    }

    $bgColors : (orange, hotpink, aqua, lightgreen);
    @each $el in $bgColors {
      $index : index($list: $bgColors, $value: $el);
      &:nth-child(#{$index}) {
        transition-delay: $interval * $index;
        a {
          @include button($bg-color : $el);
        }
      }
    }
    
    a {
      @include button($width: 100%, $bg-color: $btn-bg, $font-color: $btn-font);
      // display: block;
      // width: 100px;
      // height: 30px;
      // border-radius: 15px;
      // background-color: $btn-bg;
      // color: $btn-font;
      // text-align:  center;
      // font: bold 16px/30px "arial" ;
      // margin-top: 20px;
    }
  }
}}